html, body {
  font-size: 62.5%;
  font-family: serif;
}
body {
  font-size: 1.8rem;
  line-height: 1.618;
  max-width: 38em;
  margin: auto;
  color: #4a4a4a;
  background-color: #f9f9f9;
  padding: 13px;
}

/*button {
  flex-shrink: 0;
  float:right;
}*/

toolbar {
  align-items: center;
  display: flex;
  flex-shrink: 0;
}

toolbar {
  flex-shrink: 0;
}

button {
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  margin: 0;
  padding: 12px;
  transition: background 0.3s, color 0.3s;
  user-select: none;
}

.buttons {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.device_time {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.textcols-item {
  white-space: normal;	
  display: inline-block;
  width: 48%;
  vertical-align: top;
  line-height: 0.5;
  margin: 0 auto;
  text-align: center;
}
.textcols .textcols-item:first-child {
  margin-right: 4%;
}

.imagecols-item {
  white-space: normal;	
  display: inline-block;
  width: 30%;
  vertical-align: top;
  line-height: 0.5;
  margin: 0 auto;
  text-align: center;
}

figcaption {
    margin-top: 10px; 
}

#time_enable, #time_disable {
    margin-top: 15px;  
}


#btn_sync, #btn_save_setings {
    margin: auto;
    display: block;
    margin-top: 25px;
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: #686868;
}

/*input[type=range]::before {
    content: attr(min);
}

input[type=range]::after {
    content: attr(max);
}*/

input[type=range] {
    width: 100%;
    font-family: cursive;
    font-size: 2em;
}


/*#time_section {
  border: 3px solid #4a4a4a;;
  border-radius: 30px;
}*/


h1, h2, h3, h4, h5, h6 {
  align-content: center;
  line-height: 1.1;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  margin: 0px auto;
  font-family: "Candara", monospace;
}

h2 {
  font-size: 1.2em;
  font-family: "Candara", monospace;
  line-height: 0.5;
}
/*
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.25em;
}
h6 {
  font-size: 1em;
}*/



